<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ===================================================== -->
    <!-- Joint 1 : Base Rotation -->
    <!-- ===================================================== -->

    <joint name="joint_1" type="revolute">
        <parent link="base_link"/>
        <child link="link1"/>

        <origin xyz="0 0 0.0405" rpy="0 0 0"/>

        <axis xyz="0 0 1"/>

        <limit
            lower="-3.14159"
            upper="3.14159"
            effort="100"
            velocity="2.0"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Joint 2 : Shoulder -->
    <!-- ===================================================== -->

    <joint name="joint_2" type="revolute">
        <parent link="link1"/>
        <child link="link2"/>

        <origin xyz="0.020 -0.0396 0.1045"
                rpy="0 0 0"/>

        <axis xyz="0 1 0"/>

        <limit
            lower="-1.83"
            upper="1.83"
            effort="100"
            velocity="2.0"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Joint 3 : Elbow -->
    <!-- ===================================================== -->

    <joint name="joint_3" type="revolute">
        <parent link="link2"/>
        <child link="link3"/>

        <origin xyz="0 0.0875 0.200"
                rpy="0 0 0"/>

        <axis xyz="0 1 0"/>

        <limit
            lower="-2.79"
            upper="2.79"
            effort="100"
            velocity="2.0"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Joint 4 : Wrist Roll -->
    <!-- ===================================================== -->

    <joint name="joint_4" type="revolute">
        <parent link="link3"/>
        <child link="link4"/>

        <origin xyz="-0.04315 -0.04825 0"
                rpy="0 0 0"/>

        <axis xyz="1 0 0"/>

        <limit
            lower="-2.90"
            upper="2.90"
            effort="80"
            velocity="2.5"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Joint 5 : Wrist Pitch -->
    <!-- ===================================================== -->

    <joint name="joint_5" type="revolute">
        <parent link="link4"/>
        <child link="link5"/>

        <origin xyz="0.22015 0.0435 0"
                rpy="0 0 0"/>

        <axis xyz="0 1 0"/>

        <limit
            lower="-2.70"
            upper="2.70"
            effort="60"
            velocity="3.0"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Joint 6 : Wrist Yaw -->
    <!-- ===================================================== -->

    <joint name="joint_6" type="revolute">
        <parent link="link5"/>
        <child link="link6"/>

        <origin xyz="0.032324 -0.0435 0"
                rpy="0 0 0"/>

        <axis xyz="1 0 0"/>

        <limit
            lower="-3.1416"
            upper="3.1416"
            effort="50"
            velocity="3.5"/>
    </joint>


    <!-- ===================================================== -->
    <!-- Tool Frame -->
    <!-- ===================================================== -->

    <joint name="tool_fixed" type="fixed">
        <parent link="link6"/>
        <child link="tool0"/>

        <origin xyz="0.022676 0 0"
                rpy="0 0 0"/>
    </joint>

</robot>