<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- //Base link -->
    <xacro:mesh_link
        name="base_link"
        mesh="Base_Link.stl"
        mass="2.0"
        ixx="0.005"
        iyy="0.005"
        izz="0.005"/>
    <!-- Link 1 -->
    <xacro:mesh_link
        name="link1"
        mesh="Link1.stl"
        mass="1.5"
        ixx="0.002"
        iyy="0.002"
        izz="0.002"/>
    <!-- Link 2 -->
    <xacro:mesh_link
        name="link2"
        mesh="Link2.stl"
        mass="1.2"
        ixx="0.002"
        iyy="0.002"
        izz="0.002"/>
    <!-- Link 3 -->
    <xacro:mesh_link
        name="link3"
        mesh="Link3.stl"
        mass="1.0"
        ixx="0.0015"
        iyy="0.0015"
        izz="0.0015"/>
    <!-- Link 4 -->
    <xacro:mesh_link
        name="link4"
        mesh="Link4.stl"
        mass="0.5"
        ixx="0.0005"
        iyy="0.0005"
        izz="0.0005"/>
    <!-- Link 5 -->
    <xacro:mesh_link
        name="link5"
        mesh="Link5.stl"
        mass="0.4"
        ixx="0.0004"
        iyy="0.0004"
        izz="0.0004"/>
    <!-- Link 6 -->
    <xacro:mesh_link
        name="link6"
        mesh="Link6.stl"
        mass="0.3"
        ixx="0.0003"
        iyy="0.0003"
        izz="0.0003"/>
    <!-- Tool Frame -->
    <link name="tool0"/>
    


    

</robot>